* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }


.sidebar {
    background: #f8f9fa;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .nav-link {
    cursor: pointer;
  }

  .nav-link:hover {
    background: #e9ecef;
  }
  .dash-item{
    font-weight: 600;
  
  }
  .content-card-d{
    height: 150px;
    margin-top: 50px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px 20px 0px 0px;
    
  }
  .content-Eventcard-d{
    height: 150px;
    margin-top: 50px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    
  }
  .content-Eventcard-d:hover{
    background-color: #F5EFFF;
  }
  .content-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 0px 0px;

height: 60px;
  }